{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-sm-8">
                <h3>About Us:</h3>
                <p>Skillsgen is a leading Training Provider in Merseyside & throughout the Northwest of England. We have been providing quality certified training for more than 15 years. All our training staff are skilled professionals with many years’ experience within the training industry with huge amounts of business and corporate style training & back ground knowledge. Our IT trainers are Microsoft Certified and go through annual checks for ongoing professional delivery as well as keeping them abreast of the latest Microsoft products.</p>
                <p>As the only Microsoft approved Training Company in Merseyside we can offer Microsoft accredited training on all Microsoft products from desktop through to technical subjects, as well as Microsoft MOS & MTA exams at our testing centre.</p>
                <p>If at any time you are not completely satisfied we offer a full money back guarantee. In addition if a delegate would like to sit through any public training again, we will happily let you sit the public course and level again at no extra charge. We offer a help@skillsgen.com email contact for any questions you might have following your training.</p>
                <p>We complement our IT training with a range of Management & Leadership Skills from our Soft Skills Training portfolio. These courses provide a backbone of material for Supervisor and Managerial skills.</p>
                <p>Our head office is based in Halewood, Liverpool close to the Jaguar Car Factory L24 9PZ. Here we run both public and closed company courses in both IT courses and Soft Skills ranging from beginner sessions through to Expert consultancy levels.</p><p>We have considerable experience in the design and delivery of corporate training rollouts working with our clients to agree training objectives; needs analysis; outcome measurement and delivery schedules including delivery across shift systems. We will work with you to create courses using your own data and environment so that delegates can immediately apply their new skills to the workplace.</p>
                <p>We will deliver training around the country and have delivered courses across England, Wales, Scotland and N Ireland as well as Jersey, Isle of Man and Belgium. So whether you require 1-1 consultancy or you have a corporate roll out to design and deliver then we can help. With our network of qualified trainers and instructors you can be confident that we will deliver your training exactly how you want it.</p>
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <span class="glyphicon glyphicon-phone"></span>
                    <h4>0151 230 8556</h4>
                </div>
                <div class="contact">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <h4>Head Office,<br>
                        PFL Building,<br>
                        South Road,<br>
                        Liverpool,<br>
                        L24 9PZ</h4>
                </div>
                <div class="contact">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <h4>sales@skillsgen.com</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbowhite">
        <div class="row">
            <div class="col-sm-4">
                <h3>Getting To Us:</h3>
                <p>We are alongside the Jaguar Factory on the west bound side of the A561 Speke Blvd - a dual carriageway from Speke to Widnes. The tall building is signed PFL Training & Conference Centre and there is an exit from the westbound side just by the centre - after the traffic lights from Morrison's Superstore. </p>
            </div>
            <div id="mapcontainer" class="col-sm-8" style="margin-top:-20px; margin-bottom:-15px;">
                <div id="map"></div>
            </div>
        </div>    
    </div>
    <div id="panocontainer">
        <div id="pano"></div>
    </div>
    
    <script>
        function initMap() {
            var skillsgen = {lat: 53.347303, lng: -2.830300};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: skillsgen
            });
            var marker = new google.maps.Marker({
            position: skillsgen,
                map: map
            });
            var panorama = new google.maps.StreetViewPanorama(
                document.getElementById('pano'), {
                  position: {lat: 53.346701, lng: -2.831057},
                  pov: {
                    heading: 34,
                    pitch: 6
                  }
                });
            map.setStreetView(panorama);
        }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYYCwHHFKXfRD03ym5EJqhk24ylc6QtqE&callback=initMap">
        </script>
        <script>
            document.getElementById('mapcontainer').onclick = function() {
                document.getElementById('map').style.pointerEvents = "auto";
            }
            document.getElementById('mapcontainer').addEventListener("mouseleave", function() {
                document.getElementById('map').style.pointerEvents = "none";
            });
            document.getElementById('panocontainer').onclick = function() {
                document.getElementById('pano').style.pointerEvents = "auto";
            }
            document.getElementById('panocontainer').addEventListener("mouseleave", function() {
                document.getElementById('pano').style.pointerEvents = "none";
            });
        </script>
{% endblock %}