{% extends "layout.html" %}

{% block title %}
    Something has gone wrong
{% endblock %}

{% block main %}
<div class="jumbotron" style="position: relative; top: 50%; transform: translateY(-50%)">
    <div class="text-center">
       <span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:50px;color:red"></span>
        <p style="padding-top:30px">We're very sorry but something has gone wrong with your enquiry. Please try contacting us directly at:</p> 
        <h2 style="border-bottom: none">sales@skillsgen.com</h2>
        <p>or</p>
        <h2 style="border-bottom: none">0151 230 8556</h2>
    </div>
</div>    
{% endblock %}