{% extends "layout.html" %}

{% block title %}
    Enquiries
{% endblock %}

{% block main %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6 text-center">
            <h2>Enquiries</h2>
            <p>If you're interested in one of the courses you've seen on our website or have further requirements, then please get in contact and help us tailor training to your exact requirements.</p>
        </div>
        <div class="col-sm-6">
            <form action="{{ url_for('enquire') }}" method="post">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input class="form-control" id="name" name="name" placeholder="Enter Name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="phone" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp" placeholder="Enter Phone Number" >
                    <small id="phoneHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="enquiry">Your enquiry</label>
                    {% if booking != None %}
                        <textarea class="form-control" id="enquiry" name="enquiry" rows="6">I am enquiring about the "{{ booking.course }}" course on the date: {{ booking.date }}.</textarea>
                    {% else %}
                    <textarea class="form-control" id="enquiry" name="enquiry" rows="6" placeholder="Your enquiry"></textarea>
                    {% endif %}
                </div>
                <div class="row text-center">
                    <div class="col-md-7">
                        <div class="g-recaptcha" data-sitekey="6LeKMC0UAAAAAFOtys0lLpqqtBqS6PCctRXviQ0P" data-callback="submitbut()"></div>
                        {% if captcha == "failed" %}
                        <p class="recaptcha-error-message">Please fill in the reCAPTCHA</p>
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        <br>
                        <input type="submit" name="submit" class="btn btn-primary" value="Submit Enquiry">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% if captcha == "failed" %}
<script>
    document.getElementById('name').value = "{{ enquiry.name }}";
    document.getElementById('email').value = "{{ enquiry.email }}";
    document.getElementById('phone').value = "{{ enquiry.phone }}";
    document.getElementById('enquiry').value = "{{ enquiry.enquiry }}";
</script>
{% endif %}
<script>
    document.getElementById('submitbutton').disabled = true;
    function submitbut(response) {
        document.getElementById('submitbutton').disabled = false;
    }
</script>
{% endblock %}
