{% extends "layout.html" %}

{% block title %}
    Skillsgen
{% endblock %}

{% block main %}
<div class="overlay">
    <div class="ocontents">
        <h1>SkillsGen</h1>
        <h3>+44 (0)151 230 8556</h3>
        <p>Merseyside's home for IT training.</p>
    </div>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="max-height:450px">
            <img src="{{ url_for('static', filename='backgrounds/a.jpg') }}">
        </div>
        <div class="item" style="max-height:450px">
            <img src="{{ url_for('static', filename='backgrounds/b.jpg') }}">
        </div>
        <div class="item" style="max-height:450px">
            <img src="{{ url_for('static', filename='backgrounds/c.png') }}">
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="jumbotron" style="border: 2px">
    <div class="row text-center">
        <h3 style="margin-top:0px">Web Based Training!</h3>
        <p>Straight to your pc, at home or in the office, we offer custom training fully tailored to your needs as well as traditional public courses, all delivered over the web. If you're interested just send us an email <a href='mailto:training@skillsgen.com'>e-mail</a>, call or <a href="{{ url_for('enquire') }}">enquire</a> through this website. We will talk you through the simple process of setup and delivery, no matter your situation.</p>
	<a href="{{ url_for('onlinelearning') }}">Click here to view a recording of on of our first online course!</a>
        <p>Of course our training center is open and our world class trainers are still available for in socially distanced in person training all in accordance with the strictest government guidelines.</p>
    </div>
</div>
<div class="jumbotron jumbowhite">
    <div class="row text-center">
        <div class="col-sm-3">
            <a href="{{ url_for('itcourses') }}">
                <div id="it" class="course-logo">
                    <i class="fa fa-desktop"></i>
                    <div class="courselabelsfront">
                        <h3>IT Courses</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="{{ url_for('management') }}">
                <div id="manage" class="course-logo">
                    <i class="fa fa-commenting"></i>
                    <div class="courselabelsfront">
                        <h3>Management Skills</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="{{ url_for('technical') }}">
                <div id="technical" class="course-logo">
                    <i class="fa fa-cogs"></i>
                    <div class="courselabelsfront">
                        <h3>Technical Skills</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="{{ url_for('exams') }}">
                <div id="exams" class="course-logo">
                    <i class="fa fa-windows"></i>
                    <div class="courselabelsfront">
                        <h3>MOS & MTA Exams</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="jumbotron">
    <div class="row text-center">
        <div class="col-md-7" style="border-right: solid; border-width: 1px; border-color: grey; padding-right: 40px">
            <h3>SkillsGen Overview:</h3>
            <p style="margin-top: 20px">SkillsGen is a leading provider for IT training courses in Liverpool, Merseyside and throughout the Northwest of England. We have been providing quality IT training courses in Liverpool for more than 15 years.</p>
            <p>As the only Microsoft Approved Training Company in Merseyside we can offer Microsoft Accredited training on all Microsoft products from desktop to technical subjects, as well as Microsoft MOS and MTA exams in our testing centre.</p>
            <p>We also offer a range of Management and Leadership Skills Training courses providing a comprehensive portfolio of Soft Skills Training.</p>
            <p>So whether you require a one to one consultancy or a corporate roll-out, we can help you with our vast network of qualified trainers & instructors, complimented by our portable classrooms when required.</p>
             <a href="{{ url_for('gdpr') }}">For information about our response to GDPR click here.</a>
        </div>
        <div class="col-md-5">
            <h3 style="margin-top:0px; margin-bottom: 10px;margin-right: -27px">Upcoming Public Courses</h3>            
            {% for row in upcoming %}
                    <div class="upcoming">
                    <div class="row">
                        <div class="col-xs-2">
                            {% if row.type == 1 %}
                                {% if row.icon != None and row.icon != "" %}
                                    <img src="{{ url_for('static', filename='icons/' + row.icon + '-icon.png') }}">
                                {% else %}
                                    <img src="{{ url_for('static', filename='icons/IT-icon.png') }}">
                                {% endif %}
                            {% elif row.type == 2 %}
                                <img src="{{ url_for('static', filename='icons/manage-icon.png') }}">
                            {% elif row.type == 3 %}
                                <img src="{{ url_for('static', filename='icons/Technical-icon.png') }}">
                            {% else %}
                                <img src="{{ url_for('static', filename='icons/IT-icon.png') }}">
                            {% endif %}
                        </div>
                        <div class="col-xs-9">
                            {% if row.type == 1 %}
                                <a class="courselink" href="{{ url_for('it', course = row.courseid) }}">
                            {% elif row.type == 2 %}
                                <a class="courselink" href="{{ url_for('managecourse', course = row.courseid) }}">
                            {% else %}
                                <a class="courselink" href="">
                            {% endif %}
                                    <div class="row">

                                        {{ row.name }}
                                    </div>
                                    <div class="row">
                                        {{ row.day }} {{ row.month }} {{ row.date_part}}
                                    </div>
                                </a>
                        </div>
                        <div class="col-xs-1">
                            <a href="{{ url_for('enquire', token = row.id) }}">
                                <div class="booknow">
                                    BOOK NOW!
                                </div>
                            </a>
                        </div>
                    </div>        
                </div>
            {% endfor %}
                <div style="padding-top:5px;padding-left:30px" class="row">
                <button onclick="location.href='{{ url_for('schedule2') }}'" type="button" class="btn btn-info">View Our Full Schedule</button>
    </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbowhite text-center">
    <div class="row">
        <h3>Our Partners</h3>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive partner" src="{{ url_for('static', filename='partners/microsoftpartnerA.png') }}">   
        </div>
        <div class="col-sm-3">
            <img class="img-responsive partner" src="{{ url_for('static', filename='partners/mictA.png') }}" style="margin-top:8px">
        </div>
        <div class="col-sm-3">
            <img class="img-responsive partner" src="{{ url_for('static', filename='partners/lccA.png') }}">    
        </div>
        <div class="col-sm-3">
            <img class="img-responsive partner" src="{{ url_for('static', filename='partners/mosA.png') }}">                
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive partner" src="{{ url_for('static', filename='partners/certiportA.png') }}">
        </div>
        <div class="col-sm-3">
            <img class="img-responsive partner" src="{{ url_for('static', filename='partners/datrixA.png') }}">
        </div>
        <div class="col-sm-3">
            <img class="img-responsive partner" src="{{ url_for('static', filename='partners/pflA.png') }}">
        </div>
        <div class="col-sm-3">
            <img class="img-responsive partner" src="{{ url_for('static', filename='partners/prodigyA.png') }}">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive partner" src="{{ url_for('static', filename='partners/cogentA.png') }}" style="max-height: 100px">        
        </div>
        <div class="col-sm-6">
            <img class="img-responsive partner" src="{{ url_for('static', filename='partners/stayaheadA.png') }}" style="max-height: 100px">
        </div>
    </div>
</div>

<div id="text-carousel" class="carousel slide" data-ride="carousel">
    <h3 class="text-center">Testimonials</h3>
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <p>Just completed an excellent Office 365 Rollout for Griffiths & Armour, well done team for a smooth delivery!</p>                            
                            <h4 style="text-align: right">Griffiths & Armour</h4>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>We have used skillsgen for the past 5 years to deliver various IT training sessions, including Microsoft Word, Excel and Effective Presentations using PowerPoint. We have also used them to provide bespoke soft-skills training such as Customer Care and Time Management. We have a lot of courses that we like to tailor to a particular group of staff and SkillsGen have always worked with us to provide the best possible course to meet our training needs.</p>
                            <p>Based on feedback from the staff and the service provided I can highly recommend SkillsGen. I have always found them very customer focused and responsive to enquiries.</p>
                            <h4 style="text-align: right">HR Liverpool Hope University</h4>
                        </div>
                    </div>
                </div>                
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>We have successfully contracted with SkillsGen to design and deliver number of key training development projects. These projects have included bespoke environmental training and SoftSkills training such as Leader/Teacher training courses. I have always found SkillsGen to be responsive, customer focussed and commited to the delivery of excellence. SkillsGen have always demonstrated a high degree of professionalism ensuring they fully understand our training needs and outcomes.</p>
                            <p>In addition we use SkillsGen on an ongoing basis to deliver IT skills training. These courses have proved very popular and useful for our employees. It's fantistic to have a training company so close and with such great customer focus.</p>
                            <h4 style="text-align: right">Getrag Halewood</h4>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>SkillsGen provide the business with Microsoft Official Training packages that are tailor-made to suit our training requirements. Our employees find the courses full of useful content. Their trainers are very knowledgeable in the topics delievered and are always happy to answer questions throughout the courses on a variety of topics. This makes for an effective partnership built up over many years and we look forward to working with SkilsGen in the future</p>
                            <h4 style="text-align: right">Allergan Biologics Ltd, Liverpool</h4>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>The content of SkillsGen training courses are excellent, the topics covered are very useful and the courses provided many practical ideas. The trainer we use with SkillsGen always recieves very high praise from the delegates who attend. Her training methods and styles are appropriate and she is always happy to asnwer questions and explainpoints further if required. The administration support recieved from SkillsGen is also very good, staff are always happy to help and respond quickly to queries/requests. Overall we are very happy with the service provided by SkillsGen and will continue to use them in the future.</p>
                            <h4 style="text-align: right">HR & Training Department at Bachy Soletanche Ltd</h4>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>Prinovis UK officially opened its new onsite Learning Centre at its print plant in Liverpool, at a ceremony attended by training partners, suppliers and employees. The company, which is part of the Bertelsmann Printing Group - Europe's largest printing group, has a largely local workforce of over 400 employees.</p>
                            <p>The opening ceremony was conducted by Vicci Tatton, HR Director, Prinovis UK, who praised the contribution of its partners in delivering the new facility. ÅgThe Learning Centre project was a real collaboration between Prinovis, Unite the Union, Skillsgen and our Training partners which we carefully selected from a shortlist of potential providers,Åh said Vicci Tatton.</p>
                            <h4 style="text-align: right">HR Director Vicci Tatton, Prinovis</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controls --> 
    <a class="left carousel-control" href="#text-carousel" data-slide="prev" style="background-image: none; filter: none">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#text-carousel" data-slide="next" style="background-image: none; filter: none">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div class="jumbotron jumbowhite text-center">
    
    <div class="row">
        <div class="col-sm-7">
            <h3>SkillsGen Metrics</h3>
            <p style="padding-top: 10px">At SkillsGen we recognise that a good understanding of how the learning process is going is one of the most important parts of ensuring people get the most from our training. To that end we've created SkillsGen Metrics.</p>
            <p>First there is the Pre-Course Questionnaire that you will be asked to complete before beginning the course. This gives us an understanding of your skill level and any learning priorities that you might have. Allowing us to tailor the training to your exact requirements.</p>
            <p>At the end of your course there is a questionnaire that invites you to give feedback on your experience with us. This covers all aspects of the training you've received from the instructor and the classroom environment to the training material itself. There is also a self-reported improvement score and an opportunity to give feedback including shortcomings and potential improvements in your own words.</p>
            <p>We feel that our Metrics Evaluation System is absolutely essential for the continuous development and improvement of the training that we provide for our customers.</p>
            <p>After your course we also offer a help@skillsgen.com email contact for any questions you might have following your training.</p>
        </div>
        <div class="col-sm-5">
            <img class="img-responsive" src="{{ url_for('static', filename='metrics.png') }}" style="max-height: 700px; margin: 0 auto">
        </div>
    </div>
</div>
<div class="jumbotron text-center">
    <div class="row">
        <h3>Bespoke IT Training</h3>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-6">
            <div class="tailored">
                <h4>Public</h4>
                <p>Mix of individuals from various companies training in a class together.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="tailored">
                <h4>Tailored</h4>
                <p>Specifically designed with your business requirements in mind, tailored to your industry needs. Timings to suit shift patterns as well as group sizes.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="tailored">
                <h4>Closed Company Group</h4>
                <p>Groups from the same company trained either on their own site or ours. These courses can be tailored to suit exact business requirements.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="tailored">
                <h4>Consultancy</h4>
                <p>Working with an individual to help them gain the experience they need in a live and hands on working situation.</p>
            </div>
        </div>
    </div>
    <div style="padding-top:30px;" class="row">
        <a href="{{ url_for('tailored') }}">
            <button id="tailored-button" type="button" class="btn btn-info">Learn About Our Bespoke Options</button>
        </a>    
    </div>
</div>
<div class="jumbotron jumbowhite">
    <div class="row text-center">
        <div class="col-sm-5">
            <h3 style="border-bottom: none; padding-bottom:0px">Tweets from @SKILLSGENLTD</h3>
            <a class="twitter-timeline" data-chrome="noheader nofooter transparent" data-width="450" data-height="900" data-tweet-limit="3" data-dnt="true" href="https://twitter.com/Skillsgenltd">Tweets by Skillsgenltd</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-sm-7">
            <h3>Great Companies Use SkillsGen</h3>
            <img class="img-responsive partner" src="{{ url_for('static', filename='companies/allergan-logo.png') }}">
            <img class="img-responsive partner" src="{{ url_for('static', filename='companies/hope-logo.png') }}">
            <img class="img-responsive partner" style="width: 300px" src="{{ url_for('static', filename='companies/getrag-logo.png') }}">
            <img class="img-responsive partner" src="{{ url_for('static', filename='companies/prinovis-logo.png') }}">
            <img class="img-responsive partner" src="{{ url_for('static', filename='companies/magna-logo.png') }}">
            <img class="img-responsive partner" src="{{ url_for('static', filename='companies/wfs-logo.png') }}">
            <img class="img-responsive partner" src="{{ url_for('static', filename='companies/nhs-logo.jpg') }}">
            <img class="img-responsive partner" src="{{ url_for('static', filename='companies/calumet-logo.png') }}">
            
        </div>
    </div>
</div>
{% endblock %}
