{% extends "layout.html" %}

{% block title %}
    Skillsgen IT Courses
{% endblock %}

{% block main %}
<div class="jumbotron" style="padding-bottom:12px">
    <h2 style="margin-top:0px">Our Most Popular IT Courses</h2>
    <p> These are some of our most popular courses. If you can't find what your looking for try the <a href="{{ url_for('inquire') }}">search</a> or just <a href="{{ url_for('inquire') }}">inquire directly</a>.</p>
</div>
<div class="jumbotron jumbowhite text-center">
    <div class="row">
        <div id="excel" class="col-sm-4">
            <div class="courseblock">
                <img class="img-responsive" src="{{ url_for('static', filename='excel-logo.png') }}">
                <h3>Microsoft Excel</h3>
                <p>From our <b>Using Excel Level One</b> introductory course all the way to the ultimate <b>Excel For Experts</b> course. Our Microsoft Excel courses are the best way to learn this powerful tool and really make it work for.</p>
            </div>
        </div>
        <div id="project" class="col-sm-4">
            <div class="courseblock">
                <img class="img-responsive" src="{{ url_for('static', filename='project-logo.png') }}">
                <h3>Microsoft Project</h3>
                <p>Our Microsoft Project courses will get you up to speed on using this popular tool for creating, maintaining and tracking your plans and projects.</p>
            </div>
        </div>
        <div id="project" class="col-sm-4">
            <div class="courseblock">
                <img class="img-responsive" src="{{ url_for('static', filename='pp-logo.png') }}">
                <h3>Microsoft PowerPoint</h3>
                <p>Our Microsoft PowerPoint courses will give you the technical skills and confidence required to give great presentations with this popular software.</p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron text-center">
    <h3 style="margin-top:0px; padding-bottom: 10px; border-bottom: solid; border-width:1px; border-color: lightgrey">The Full List</h3>
    <div class="row">
        {% for row in courses %}
        <div class="col-sm-6">
            <a href="{{ url_for('it', course = row.id) }}">
                <div class="subcourseblock">
                <h3 style="margin-top:10px">{{ row.name }}</h3>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    document.getElementById('excel').onclick = function() {
        window.location.href = "{{ url_for('excel') }}";
    };
</script>
{% endblock %}