{% extends "layout.html" %}

{% block title %}
    Skillsgen IT Courses
{% endblock %}

{% block main %}
<div class="jumbotron text-center" style="padding-bottom:12px">
    <h2>Our Most Popular IT Courses</h2>
    <p> These are some of our most popular courses. If you can't find what your looking for try the <a href="{{ url_for('search') }}">search</a> or just <a href="{{ url_for('enquire') }}">enquire directly</a>.</p>

    <div class="row">
        <div id="excel" class="col-sm-4">
            <div class="courseblock">
                <img class="img-responsive" src="{{ url_for('static', filename='logos/Excel-logo.png') }}">
                <h3>Microsoft Excel</h3>
                <p>From our <a href="{{ url_for('it', course = 4 )}}">Using Excel Level One</a> introductory course all the way to the ultimate <a href="{{ url_for('it', course = 9 )}}">Excel For Experts</a> course. Our Microsoft Excel courses are the best way to learn this powerful tool and really make it work for.</p>
            </div>
        </div>
        <div id="bitesize" class="col-sm-4">
            <div class="courseblock">
                <img class="img-responsive" src="{{ url_for('static', filename='logos/Bitesize-logo.png') }}">
                <h3>SkillsGen BiteSize</h3>
                <p>Our <a href="{{ url_for('bitesize')}}">BiteSize Courses</a> are quick and to the point workshops that can get you up to speed on the software you use the most.</p>
            </div>
        </div>
        <div id="project" class="col-sm-4">
            <div class="courseblock">
                <img class="img-responsive" src="{{ url_for('static', filename='logos/Project-logo.png') }}">
                <h3>Microsoft Project</h3>
                <p>Our <a href="{{ url_for('search', term = 'project' )}}">Microsoft Project courses</a> will get you up to speed on using this popular tool for creating, maintaining and tracking your plans and projects.</p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbowhite">
    <h2 class="text-center" style="padding-bottom: 10px">The Full List</h2>
    {% for cat in cats %}
    <div class="row" style="padding-top:40px">
        <div class="col-sm-1">
            <img class="img-responsive" src="{{ url_for('static', filename='logos/' + cat.icon + '-logo.png') }}">
        </div>
        <div class="col-sm-11">
            <h3 >{{ cat.category }} Courses:</h3>
            {% for row in courses %}
            {% if row.category == cat.category %}
            <div class="col-sm-4">
                <div class="row">
                    <a class='courselink' href="{{ url_for('it', course = row.id) }}">
                        <div id="{{ row.id }}" class="subcourseblock">
                            <div class="col-xs-2">
                                {% if row.icon != None and row.icon != "" %}
                                    <img src="{{ url_for('static', filename='icons/' + row.icon + '-icon.png') }}" style="max-height:40px">
                                {% else %}
                                    <img src="{{ url_for('static', filename='icons/IT-icon.png') }}" style="max-height:40px">
                                {% endif %}
                            </div>
                            <div class="col-xs-10" style="max-height: 90px;overflow: hidden;">
                                <h4 style="margin-bottom:0px;margin-top:10px">{{ row.name }}</h4>
                                {{ row.description }}
                            </div>
                            <div class="gradient2w"></div>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class="row" style="padding-top:40px">
        <div class="col-sm-1">
            <img class="img-responsive" src="{{ url_for('static', filename='icons/IT-icon.png') }}">
        </div>
        <div class="col-sm-11">
            <h3>Other Courses:</h3>
            {% for row in courses %}
            {% if row.category == '' or row.category == None %}
            <div class="col-sm-4">
                <div class="row">
                    <a class='courselink' href="{{ url_for('it', course = row.id) }}">
                        <div id="{{ row.id }}" class="subcourseblock">
                            <div class="col-xs-2">
                                {% if row.icon != None and row.icon != "" %}
                                    <img src="{{ url_for('static', filename='icons/' + row.icon + '-icon.png') }}" style="max-height:40px">
                                {% else %}
                                    <img src="{{ url_for('static', filename='icons/IT-icon.png') }}" style="max-height:40px">
                                {% endif %}
                            </div>
                            <div class="col-xs-10" style="max-height: 90px;overflow: hidden;">
                                <h4 style="margin-bottom:0px;margin-top:10px">{{ row.name }}</h4>
                                {{ row.description }}
                            </div>
                            <div class="gradient2w"></div>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div> 
    </div>
</div>
{% endblock %}