{% extends "layout.html" %}

{% block title %}
    Management Skills
{% endblock %}

{% block main %}
<div class="jumbotron text-center">
    <h2 class="text-center">Management Skills</h2>
    <p>Management skills or "soft skills" are a crucial part of any organisation's success. Any organisation is at it's core "people interacting with people". And these skills, including social graces, communication skills, language skills and leadership skills play a role in every interaction within your organisation and without, from managers to employees and employees to customers. Studies by Stanford Research Institute and the Carnegie Mellon Foundation among Fortune 500 CEOs established that 75% of long term job success resulted from soft skills and only 25% from technical skills (Sinha, 2008). Hence, soft skills are as important as cognitive/technical skills (John, 2009; Zehr, 1998).</p>
</div>
<div class="jumbotron jumbowhite">
    <div class="row">
        {% for row in courses %}
        <div class="col-sm-6">
            <div class="row">
                <div id="{{ row.id }}" class="submcourseblock">
                    <div class="col-xs-2 text-center">
                        <i class="fa fa-handshake-o fa-4x" style="padding-top: 50px;color: darkblue"></i>
                    </div>
                    <div class="col-xs-10" style="max-height: 180px;overflow: hidden;">
                        <h4 style="margin-bottom:0px;margin-top:10px;border-bottom: solid; border-width: 1px">{{ row.name }}</h4>
                        {{ row.description }}
                    </div>
                    <div class="gradient2w"></div>
                </div>
            </div>
        </div>
        <script>
            document.getElementById('{{ row.id }}').onclick = function() {
                window.location.href = "{{ url_for('managecourse', course = row.id) }}";
            };
        </script>
        {% endfor %}
    </div>
</div>
{% endblock %}