{% extends "layout.html" %}

{% block title %}
    Technical Skills
{% endblock %}

{% block main %}
<div class="jumbotron text-center">
    <h2>Technical Skills</h2>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-1" style="margin-top:0px">
            
        </div>
        <div class="col-sm-11">
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4 technical2">    
                            <img class="img-responsive img-width" src="{{ url_for('static', filename='techlogos/mcse-logo.png') }}" style="margin:0">
                        </div>
                        <div class="col-xs-8 technical2">
                            <ul>
                                <li>MCSE: Server Infrastructure</li>
                                <li>MCSE: Private Cloud certification</li>
                                <li>MCSE: Enterprise Devices and Apps</li>
                                <li>MCSE: Data Platform</li>
                                <li>MCSE: Business Intelligence</li>
                                <li>MCSE: Messaging</li>
                                <li>MCSE: Communication</li>
                                <li>MCSE: SharePoint</li>
                            </ul>
                        </div>
                    </div>                
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-4 technical2">
                            <img class="img-responsive img-width" src="{{ url_for('static', filename='techlogos/comptia-logo.png') }}">
                        </div>
                        <div class="col-xs-8 technical2">
                            <ul>
                                <li>CompTIA A+</li>
                                <li>CompTIA N+ (Network +)</li>
                                <li>CompTIA Project+</li>
                                <li>CompTIA Security+</li>
                                <li>CompTIA Cloud+</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <button style="margin-top:0px" id="datrix-enquire" type="button" class="btn btn-info">Enquire</button>
    </div>
</div>
<div class="jumbotron jumbowhite">
    <div class="row">
        <div class="col-sm-1" style="margin-top:0px">
          
        </div>
        <div class="col-sm-11">
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-2 technical">    
                            <img class="img-responsive img-width" src="{{ url_for('static', filename='techlogos/oracle-logo.png') }}" style="">
                        </div>
                        <div class="col-xs-10 technical">
                            <ul>
                                <li>Introduction to Oracle - 1 Day</li>
                                <li>Oracle SQL Course - 3 Days</li>
                                <li>Oracle PL/SQL Course - 2 Days</li>
                                <li>Oracle SQL Fundementals - 5 Days</li>
                            </ul>
                        </div>
                    </div>                
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-2 technical">
                            <img class="img-responsive img-width" src="{{ url_for('static', filename='techlogos/redhat-logo.png') }}">
                        </div>
                        <div class="col-xs-10 technical">
                            <ul>
                                <li>Administering RedHat Part 1 - 5 Days</li>
                                <li>Administering RedHat Part 2 - 5 Days</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-2 technical">    
                            <img class="img-responsive img-width" src="{{ url_for('static', filename='techlogos/linux-logo.png') }}" style="margin:0">
                        </div>
                        <div class="col-xs-10 technical">
                            <ul>
                                <li>Linux Introduction Course - 3 Days</li>
                                <li>Linux Fundementals Course - 3 Days</li>
                                <li>Linux System Administration (LPI) Course - 5 Days</li>
                            </ul>
                        </div>
                    </div>                
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-2 technical">
                            <img class="img-responsive img-width" src="{{ url_for('static', filename='techlogos/unix-logo.png') }}">
                        </div>
                        <div class="col-xs-10 technical">
                            <ul>
                                <li>UNIX Introduction Course - 3 Days</li>
                                <li>UNIX Fundementals Course - 5 Days</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-2 technical">    
                            <img class="img-responsive img-width" src="{{ url_for('static', filename='techlogos/mysql-logo.png') }}" style="margin:0">
                        </div>
                        <div class="col-xs-10 technical">
                            <ul>
                                <li>Introduction To MySQL - 3 Days</li>
                                <li>MySQL Database Administration Course - 5 Days</li>
                                <li>MySql Perfomance & Tuning Course Course - 5 Days</li>
                            </ul>
                        </div>
                    </div>                
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-2 technical">
                            <img class="img-responsive img-width" src="{{ url_for('static', filename='techlogos/programming-logo.png') }}">
                        </div>
                        <div class="col-xs-10 technical">
                            <ul>
                                <li>Fundamentals of Java Programming Course - 5 Days</li>
                                <li>Java Programming Course</li>
                                <li>Web Development & Javascript Course - 5 Days</li>
                                <li>PHP Programming Course - 5 Days</li>
                                <li>Python Programming Course - 3 Days</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <button style="margin-top:0px" id="stayahead-enquire" type="button" class="btn btn-info">Enquire</button>
    </div>
</div>
<script>
    document.getElementById('stayahead-enquire').onclick = function() {
        window.location.href = "{{ url_for('enquire') }}";
    };
    document.getElementById('datrix-enquire').onclick = function() {
        window.location.href = "{{ url_for('enquire') }}";
    };
</script>
<ul>
                        
                    </ul>          
{% endblock %}