{% extends "layout.html" %}

{% block title %}
    Thankyou for your enquiry
{% endblock %}

{% block main %}
<div class="jumbotron" style="position: relative; top: 50%; transform: translateY(-50%)">
    <div class="text-center">
       <span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size:50px;color:lightgreen"></span>
        <p style="padding-top:30px">Thank you for your enquiry. We will be in contact with you shortly to further discuss your requirements.</p> 
    </div>
</div>    
{% endblock %}